:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

body {
  margin: auto;
  max-width: 1200px;
  min-height: 100vh;
  padding: 10px;
  background-color: #131315;
  color: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: inherit;
  color: inherit;
}

.container {
  display: flex;
  justify-content: center;
  margin: 50px 0 100px;
  min-height: 1000px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table thead {
  border-bottom: 2px solid #fff;
  margin-bottom: 20px;
}
.table th{
  font-size: 1.2rem;
  text-align: left;
  padding: 10px 0;
}

.table tbody tr {
  height : 50px;
  border-bottom: 1px solid #22262e;
  font-weight: 600;
  font-size: 1.1rem;
}
.symbol {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.symbol img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}
.symbol span{
  font-weight: 600;
  font-size: 1.2rem;
  color: #9fa6b7;
}
.success {
  color: #57bc7c;

}
.error{
  color :#d33636
}
.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-bottom: 100px;
  width: 420px;
  transition: all 0.3s ease;
}
.pagination button {
  width: 80px;
  background-color: #3874ff;
  border: none;
  padding: 5px 10px;
  border-radius: 10px;
  color: #fff;
  transition: all 0.3s ease;
}
.pagination button:hover{
  cursor: pointer;
  background-color: #2852b4;
}

.pagination p {
 border: 1px solid #3874ff;
 width: 25px;
 text-align: center;
 border-radius: 5px;
}

.disabled {
  opacity: 0.3;
}

.selected {
background-color: #3874ff;
color: white;
}

.previewSearch {
  display: block;
  width: 300px;
  height: 400px;
  background-color: #18181c;
  border: 2px solid #22262e;
  margin-top: 8px;
  border-radius: .3rem;
  overflow-y: scroll;
 scroll-behavior: smooth;
 padding: 10px 20px;
 position: absolute;
 
}

.previewSearch ul {
  list-style: none;
}

.previewSearch li {
  transition: all 0.3s linear;
}
.previewSearch li:hover{
  background-color: #2852b4;
  cursor: pointer;
  border-radius: 5px;
}


.hide {
display: none;
}
.previewSearch::-webkit-scrollbar {
  display: none;
}
.previewSearch .item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #22262e;
  padding: 1rem;
 
  
}

.loader {
  margin-left: 86px;
  margin-top: 140px;
  margin-bottom: 200px;
}

.previewSearch p {
  margin-left: 10px;
}

.searchBox {
  margin-top: 50px;
  position: relative;
}

.searchBox input {
  width: 300px;
  height: 50px;
  padding: 10px;
  color: #fff;
  background-color: #23242e;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
}

.searchBox input:focus{
  outline: none;
}

.searchBox select {
  background-color: #23242e;
  color: #fff;
  border-radius: 5px;
  margin-left: 20px;
  padding:0 10px;
  height: 50px;
}

.searchBox select:focus {
  outline: none;
}

.modalContainer {
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(3px);
  width: 100%;
  height: 100%;
}

.chart {
  width: 800px;
  margin: auto;
  padding: 20px;
  margin-top: 50px;
  background-color: #18181ce6;
  border: 2px solid #404042;
  border-radius: 20px;
}

.btnClose {
  border: 1px solid red;
  padding: 10px;
  border-radius: 8px;
  width: 100px;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.2s ease-in;
}
.btnClose:hover{
  background-color: red;
  color: #131315;
  font-weight: 600;
}
.graph {
  width: 760px;
  height: 300px;
  margin-bottom: 20px;
}
.names {
  display: flex;
  align-items: center;
  margin:0 10px 30px;
}

.names img{
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

.names p {
  font-size: 1.5rem;
  font-weight: 700;
}
@media (max-width : 600px) {
  .table {
    display: block;
    overflow-x: scroll ;
  }
  .table td , .table th {
    padding: 0 10px;
  }
}