:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

body {
  margin: auto;
  max-width: 1200px;
  min-height: 100vh;
  padding: 10px;
  background-color: #131315;
  color: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: inherit;
  color: inherit;
}

.container {
  display: flex;
  justify-content: center;
  margin: 50px 0 100px;
  min-height: 1000px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table thead {
  border-bottom: 2px solid #fff;
  margin-bottom: 20px;
}
.table th{
  font-size: 1.2rem;
  text-align: left;
  padding: 10px 0;
}

.table tbody tr {
  height : 50px;
  border-bottom: 1px solid #22262e;
  font-weight: 600;
  font-size: 1.1rem;
}
.symbol {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.symbol img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}
.symbol span{
  font-weight: 600;
  font-size: 1.2rem;
  color: #9fa6b7;
}
.success {
  color: #57bc7c;

}
.error{
  color :#d33636
}
.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-bottom: 100px;
  width: 420px;
  transition: all 0.3s ease;
}
.pagination button {
  width: 80px;
  background-color: #3874ff;
  border: none;
  padding: 5px 10px;
  border-radius: 10px;
  color: #fff;
  transition: all 0.3s ease;
}
.pagination button:hover{
  cursor: pointer;
  background-color: #2852b4;
}

.pagination p {
 border: 1px solid #3874ff;
 width: 25px;
 text-align: center;
 border-radius: 5px;
}

.disabled {
  opacity: 0.3;
}

.selected {
background-color: #3874ff;
color: white;
}
@media (max-width : 600px) {
  .table {
    display: block;
    overflow-x: scroll ;
  }
  .table td , .table th {
    padding: 0 10px;
  }
}